services:
  init-perms:
    image: busybox
    command: sh -c "mkdir -p /keys && chown -R 1654:1654 /keys"
    volumes:
      - dpkeys:/keys
    restart: "no"

  marinapp:
    image: ${DOCKER_REGISTRY-}marinapp
    build:
      context: .
      dockerfile: MarinApp/Dockerfile
    volumes:
      - dpkeys:/home/app/.aspnet/DataProtection-Keys   # persistent key ring
    ports:
      - "9095:9095"
      - "9096:9096"
    environment:
      # Postgres connection
      MARIN_APP_DB_SERVER: ${MARIN_APP_DB_SERVER}
      MARIN_APP_DB_PORT: 5432
      MARIN_APP_DB_USER: ${MARIN_APP_DB_USER}
      MARIN_APP_DB_PASSWORD: ${MARIN_APP_DB_PASSWORD}
      ASPNETCORE_URLS: http://+:9095
    restart: unless-stopped
volumes:
  dpkeys: